@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root{
    --primary-color: #343a40;
    --secondary-color: #2d3238;
    --tiers-color: #adb5bd;
    --fourth-color: #e9ecef;
    --fith-color: #949aa0;
}

#username{
    position: fixed;
    z-index: 1100;
    background-color: var(--primary-color);   
    width: 100%;
    height: 100vh;
}

.username__input_container{
    color: var(--fourth-color);
}
.username__input_container input,
.username__input_container button{
    margin: 5px 0;
    width: 300px;
}

#navbar{
    height: 80px;
}

#navbar form{
    max-width: 530px;
}

#app{
    padding-top: 80px;
    height: 100vh;
}

#contact_close{
    display: none;
    position: fixed;
    top: 120px;
    left: 300px;
    z-index: 2;
    background-color: var(--primary-color);   
    border-radius: 0 .25rem .25rem 0; 
    cursor: pointer;
}
#contact_close button{
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0 .25rem .25rem 0;
}
#contact_close button i::before{
    color: var(--fourth-color);
}
#contact_close.active button i::before{
    transform: rotate(180deg);
}

#contacts{    
    height: 100%;
    max-width: 300px;           
    overflow-y: auto;
    background-color: var(--primary-color);
}
#contacts .contact{
    cursor: pointer;
    width: 100%;
    background-color: var(--secondary-color);
}
#contacts .contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
#contacts span{
    color: var(--tiers-color);
    white-space: nowrap;
}
#contacts .contact_pseudo{
    margin-left: 15px;
    flex-grow: 1;
    overflow: hidden;
    margin-right: 15px;
}
#contacts .contact:hover .contact_pseudo{
    color: var(--fourth-color);
}
#contacts .contact_bot{
    position: absolute;
    right: .5em;
    font-size: 13px;
    background-color: #0062ff;
}
#contacts .contact_active{
    position: absolute;
    right: .5em;
    background-color: #09ff00;
}
#contacts .contact_absent{
    position: absolute;
    right: .5em;
    background-color: var(--tiers-color);
}

#messenger{
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: var(--secondary-color);
}
#messenger .messages{
    height: calc(100% - 2em - 35px);
    overflow-x: hidden;
    overflow-y: auto;
}
#messenger .messages .message{
    width: calc(100% - 2em);    
}
#messenger .message > div{
    background-color: var(--primary-color);
    width: 80%;
    max-width: 700px;
}
#messenger .messages .message img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}
#messenger .messages .message img.message__image {
    width: auto;
    height: 250px;
}
#messenger .messages .message .message_pseudo__date{
    font-size: 12px;
    margin-left: 10px;
    color: var(--fith-color);
}
#messenger .messages .message .message_container__message{
    padding-top: 0.75rem;
    padding-right: 1rem;
    color: var(--tiers-color);
}
#messenger .message_other > div{
    border-radius: 0 1em 1em 1em;
}
#messenger .message_me{
    justify-content: flex-end;
}
#messenger .message_me > div{
    flex-direction: row-reverse;
    border-radius: 1em 0 1em 1em;
}
#messenger .message_me .message_container__pseudo{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
#messenger .message_me .message_pseudo__date{
    margin-right: 10px;
}
#messenger .message_me .message_container__message{
    padding-left: 1rem;
}

#messenger .new_message{
    width: 100%;
    position: absolute;
    bottom: 1em;
}
#messenger .new_message > div{
    width: calc(100% - 2em);
    border: none;
}
#messenger .new_message input, #messenger .new_message button{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: var(--primary-color);
    color: var(--fourth-color);    
}
#messenger .new_message button:hover i::before{
    transform: scale(1.2);
}



@media (max-width: 575.98px) {
    #contact_close{
        display: flex;
    }
    #navbar{
        height: 120px;
    }
    #navbar a.navbar-brand{
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    #app{
        padding-top: 120px;
    }
    #contacts{
        position: fixed;
        top: 120px;
        left: -300px;
        z-index: 99;
    }
    #contacts.active{
        left: 0;
    }
}